// Variables and common styles 
@fontFamily: 'Montserrat', sans-serif;
@fontKaushan: 'Kaushan Script', cursive;
@fontArimo: 'Arimo', sans-serif;
@goldColor: #D2A257;

// Fonts
@import "fonts.less";

// Reboot styles
@import "reboot.less";

// Preloader
@import "preloader.less";

// Scroll top
@import "scrollTop.less";

// UI
@import "ui.less";

// Header
@import "header.less";

// Header-sticky
@import "header-sticky.less";

// Poster
@import "poster.less";

// About
@import "about.less";

// Portfolio
@import "portfolio.less";

// Contacts
@import "contacts.less";