.main_body {
  font-family: @fontFamily;
  font-weight: 400;
  font-size: 16px;
  color: #666666;
}

.wrapper {
  display: flex;
  min-height: 100%;
  overflow: hidden;
  flex-direction: column;
}

.done {
  opacity: 0;
  visibility: hidden;
}

.container {
  padding: 7vw 15px 5vw;
  max-width: 1170px;
  margin: 0px auto;
}

.title {
  font-family: @fontArimo;
  font-weight: 500;
  font-size: 48px;
  color: #333333;
  text-transform: uppercase;
  letter-spacing: 10px;
  line-height: 1.1;
  white-space: nowrap;
}

.subtitle {
  font-family: @fontKaushan;
  font-size: 54px;
  color: @goldColor;
  line-height: 1.1;
  padding-top: 15px;
  margin-bottom: 30px;
}

@media (max-width: 1200px) {
  .title {
    font-size: 36px;
    letter-spacing: 7px;
  }

  .subtitle {
    font-size: 48px;
  }
}

@media (max-width: 991px) {}

@media (max-width: 768px) {
  .container {
    padding: 10vw 15px 2vw;
  }

  .title {
    font-size: 28px;
    letter-spacing: 5px;
  }

  .subtitle {
    font-size: 36px;
  }
}

@media (max-width: 575px) {
  .title {
    font-size: 20px;
    letter-spacing: 1px;
  }

  .subtitle {
    font-size: 26px;
  }
}